@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">to TaskManager</h3>


    <p class="lead">TaskManager is a simple task management application that allows you to create, edit, and delete tasks.</p>
    <p class="lead">You can also mark tasks as complete or incomplete.</p>
    <p class="lead">To get started, click on the "Tasks" link in the navigation bar.</p>
</div>
